.action {
  padding-left: 103px;
  padding-right: 103px;
  padding-top: 149px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-1199 {
    padding: 100px 45px;
    padding-top: 93px;
    padding-bottom: 50px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 66px;
    padding-bottom: 50px;
  }
}

.action__container {
  max-width: 1160px;

  @include vp-1199 {
    max-width: 100%;
  }
}

.action__title {
  text-align: center;
  margin: 0;
  margin-bottom: 35px;

  @include vp-1199 {
    margin-right: 7px;
    margin-bottom: 40px;
  }

  @include vp-767 {
    margin-right: 5px;
    margin-bottom: 43px;
  }
}

.action__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;

  @include vp-1199 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}

.action__item:not(.action__item--popular) h3 {
  font-weight: 700;
  font-size: 26px;
  color: $color-resolutionBlue;
  margin: 0;
  margin-bottom: 9px;

  @include vp-767 {
    margin-bottom: 10px;
  }
}

.action__item:not(.action__item--popular) {
  border: 7px solid transparent;
  border-image: linear-gradient(#d10a42, #00359f);
  border-image-slice: 1;
  padding-top: 25px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 25px;

  @include vp-1199 {
    width: 324px;
    min-height: 211px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    align-items: flex-start;
  }

  @include vp-767 {
    max-width: none;
    width: 100%;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 40px;
  }
}

.action__item:not(.action__item--popular) p {
  font-weight: 400;
  font-size: 16px;
  color: $color-resolutionBlue;
  margin: 0;
  margin-bottom: 64px;

  @include vp-1199 {
    margin-bottom: 0;
    text-align: left;
  }

  @include vp-767 {
    text-align: center;
  }
}

.action__item:not(.action__item--popular) a {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-resolutionBlue;
  border-bottom: 1px solid $color-resolutionBlue;

  &:hover,
  &:focus,
  &:active {
    color: $color-torchRed;
    border-bottom: 1px solid $color-torchRed;
  }

  @include vp-1199 {
    margin-top: auto;
  }
}

.action__item--popular {
  grid-row: 1/-1;
  grid-column: 1/2;
  display: flex;

  @include vp-1199 {
    width: 100%;
    justify-content: center;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.action__item--popular h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 156%;
  color: $color-default-white;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 21px;

  @include vp-767 {
    align-items: center;
    margin-bottom: 19px;
  }
}

.action__item--popular span {
  font-weight: 700;
  font-size: 70px;
  color: $color-default-white;
  line-height: 88%;
}

.action__item--popular p {
  font-weight: 400;
  font-size: 18px;
  color: $color-default-white;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 188px;

  @include vp-1199 {
    text-align: left;
  }

  @include vp-767 {
    text-align: center;
    margin-bottom: 29px;
  }
}

.action__item--popular a {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  margin-top: auto;
  border-bottom: 1px solid $color-default-white;
  width: fit-content;
  padding-bottom: 3px;

  &:hover,
  &:focus,
  &:active {
    color: $color-egyptianBlue;
    border-bottom: 1px solid $color-egyptianBlue;
  }

  @include vp-767 {
    padding-bottom: 0;
  }
}

.action__item-text {
  background-color: $color-torchRed;
  padding-top: 34px;
  padding-left: 45px;
  padding-right: 10px;
  padding-bottom: 41px;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    width: 41%;
    padding: 34px 10px 42px 44px;
  }

  @include vp-767 {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 44px;
    align-items: center;
  }
}

.action__item-img {
  aspect-ratio: 280/462;
  background-image: url("../img/action-desktop.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 280px;
  background-color: $color-egyptianBlue;

  @include vp-1199 {
    aspect-ratio: 399/462;
    background-image: url("../img/action-tablet.webp");
    min-width: 399px;
  }

  @include vp-767 {
    min-width: 100%;
    aspect-ratio: 290/299;
    background-image: url("../img/action-mobile.webp");
  }
}

.action__item:nth-child(even) p {
  @include vp-1199 {
    margin-right: 27px;
  }

  @include vp-767 {
    margin-right: 0;
  }
}
