.advantages {
  background-color: $color-ghostWhite;
  padding-top: 144px;
  padding-bottom: 85px;
  padding-left: 30px;
  padding-right: 30px;

  @include vp-1199 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 90px;
    padding-bottom: 95px;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 62px;
  }
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.advantages__item:nth-child(even) {
  padding-left: 57px;

  @include vp-1199 {
    padding-left: 0;
  }

  @include vp-767 {
    padding-left: 15px;
  }
}

.advantages__item {
  flex: 0 0 40%;
  display: flex;

  @include vp-1199 {
    flex: 0 0 46%;
    max-height: 100px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    max-height: none;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
}

.advantages__item h3 {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  color: $color-sapphire;

  @include vp-1199 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  @include vp-767 {
    margin-bottom: 6px;
  }
}

.advantages__list {
  padding: 0;
  padding-top: 31px;
  margin: 0;
  list-style: none;
  max-width: 1040px;
  display: flex;
  gap: 20%;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 148px;
  padding-left: 0;
  position: relative;

  @include vp-1199 {
    row-gap: 324px;
    column-gap: 38px;
    padding-top: 30px;
    padding-left: 11px;
    justify-content: flex-start;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-left: 0;
  }
}

.advantages__item p {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  color: $color-sapphire;
}

.advantages__number p {
  font-weight: 700;
  font-size: 71px;
  line-height: 1;
  background: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @include vp-1199 {
    font-size: 58px;
  }
}

.advantages__number span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: $color-persianBlue;
}

.advantages__number {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include vp-767 {
    margin-left: 0;
    align-items: center;
  }
}

.advantages__text {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  margin-left: 30px;
  margin-top: 11px;

  @include vp-1199 {
    margin-left: 30px;
    margin-top: 6px;
  }

  @include vp-767 {
    margin-left: 0;
    align-items: center;
    text-align: center;
    margin-top: 14px;
  }
}

.advantages__text p {
  width: 95%;
  overflow: hidden;

  @include vp-1199 {
    width: 94%;
  }

  @include vp-767 {
    width: 80%;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 12px;
  margin-left: 10px;

  @include vp-1199 {
    margin-left: 0;
    margin-right: 22px;
  }

  @include vp-767 {
    margin-right: 17px;
  }
}

.advantages__item-major {
  width: 240px;
  background-color: $color-resolutionBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 58px;
  padding-bottom: 66px;
  position: absolute;
  top: 122px;
  bottom: 6px;

  @include vp-1199 {
    width: 60%;
    justify-self: center;
    padding: 45px;
    max-height: 239px;
    top: 212px;
    justify-content: flex-start;
    padding-top: 31px;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
  }

  @include vp-767 {
    width: 100%;
    padding: 50px;
    top: 43%;
    padding-top: 38px;
  }
}

.advantages__item-major::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.advantages__item-major p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $color-default-white;
  margin: 0;
  text-align: center;

  @include vp-1199 {
    width: 50%;
    align-self: center;
  }

  @include vp-767 {
    width: 80%;
  }
}

.advantages__number-major {
  text-align: center;
  margin-bottom: 31px;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
  }

  @include vp-767 {
    margin-bottom: 14px;
  }
}

.advantages__number-major p {
  font-weight: 700;
  font-size: 74px;
  line-height: 1;
  color: $color-default-white;
  text-align: center;
  margin-bottom: 4px;
  width: auto;

  @include vp-1199 {
    margin-bottom: 0;
    margin-right: 0;
  }

  @include vp-767 {
    margin-right: 4px;
  }
}

.advantages__number-major span {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  color: $color-default-white;

  @include vp-1199 {
    font-size: 22px;
    line-height: 1.5;
  }

  @include vp-767 {
    line-height: 1;
  }
}

.advantages__item:nth-child(even) .advantages__number {
  @include vp-1199 {
    margin-left: 0;
  }
}

.advantages__item:nth-child(2) {
  @include vp-767 {
    margin-bottom: 90%;
  }
}

.advantages__list::after,
.advantages__list::before {
  content: "";
  height: 2px;
  width: 340px;
  background-color: rgba(209, 10, 66, 0.2);
  position: absolute;
  top: 55%;
  transform: translateY(-50%);

  @include vp-1199 {
    display: none;
  }
}

.advantages__list::after {
  right: 0;
}
