.promo {
  padding: 120px 45px;
  width: 100%;
  margin: 0 auto;

  @include vp-1199 {
    padding: 100px 45px;
    padding-top: 101px;
  }

  @include vp-767 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 70px;
    padding-top: 63px;
  }
}

.promo__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1160px;
  margin: 0 auto;
  gap: 3%;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
  }

  @include vp-767 {
    gap: 33px;
  }
}

.promo__wrap {
  height: 100%;
  margin-left: auto;
  background-color: #b6bdcc;

  @include vp-1199 {
    max-width: none;
    width: 100%;
    margin: 0;
  }
}

.promo__order {
  max-width: 36%;
  padding: 20px;
  padding-left: 60px;
  padding-right: 7px;

  @include vp-1199 {
    width: 100%;
    max-width: none;
    padding: 0;
    text-align: center;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.promo__video {
  margin-top: -112px;
  margin-left: 77px;

  @include vp-1199 {
    margin-left: 0;
    margin-top: -84px;
  }

  @include vp-767 {
    margin-top: 8px;
  }
}

.promo__title {
  margin-top: 18px;
  margin-bottom: 6px;

  @include vp-1199 {
    margin-right: 14px;
    margin-top: 0;
    margin-bottom: 0;
  }

  @include vp-767 {
    text-align: left;
    margin-bottom: 6px;
  }
}

.promo__subtitle {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: $color-sapphire;
  margin: 0;
  margin-bottom: 39px;

  @include vp-1199 {
    margin-bottom: 33px;
  }

  @include vp-767 {
    text-align: left;
    margin-bottom: 24px;
  }
}

.promo__description {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: $color-sapphire;
  margin-bottom: 8px;

  @include vp-1199 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 44px;
    padding-right: 0;
  }

  @include vp-767 {
    margin: 0;
    text-align: left;
    width: 100%;
    padding-right: 20px;
  }
}

.promo__description--detail {
  margin-top: 8px;
  margin-right: 15px;

  @include vp-1199 {
    display: none;
  }
}

.promo__img {
  width: 100%;
  object-fit: cover;

  @include vp-1199 {
    aspect-ratio: 678/345;
  }

  @include vp-767 {
    aspect-ratio: 320/313;
  }
}
