.reviews {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 120px;
  padding-top: 66px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-1199 {
    padding-top: 43px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 71px;
    padding-top: 14px;
  }
}

.reviews__container {
  width: 560px;
  margin-top: 37px;

  @include vp-1199 {
    margin-top: 40px;
    width: 566px;
  }

  @include vp-767 {
    width: 226px;
    margin-top: 41px;
  }
}

.reviews__title {
  text-align: center;
  line-height: 65px;
  margin: 0;
  margin-left: 6px;

  @include vp-1199 {
    margin-left: 0;
    margin-right: 4px;
  }

  @include vp-767 {
    margin-left: 0;
    margin-right: 2px;
  }
}

.reviews__button-prev,
.reviews__button-next {
  border: none;
  background-color: inherit;
  background-image: url("../img/svg/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 10px;
  width: 16px;
  height: 32px;
  position: absolute;
  top: 51.5%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-image: url("../img/svg/arrow-activ.svg");
  }

  @include vp-1199 {
    top: 50%;
    width: 16px;
    height: 32px;
  }

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}

.reviews__button-prev {
  transform: rotate(180deg);
  left: 25%;

  @include vp-1199 {
    left: 6%;
    top: 50%;
  }

  @include vp-767 {
    left: 4%;
    top: 51%;
  }
}

.reviews__button-next {
  right: 25%;
  top: 54.5%;

  @include vp-1199 {
    right: 6%;
    top: 53%;
  }

  @include vp-767 {
    right: 4%;
    top: 52%;
  }
}
