.slide {
  padding-top: 56px;
  padding-left: 64px;
  margin-right: 40px;
  padding-bottom: 58px;
  background: #1c3374;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 25px;
  row-gap: 10px;

  @include vp-1199 {
    gap: 29px;
    row-gap: 10px;
    padding-top: 54px;
  }

  @include vp-767 {
    padding: 40px 25px;
    gap: 15px;
    height: 335px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.slide img {
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/-1;
  margin-top: 6px;

  @include vp-767 {
    margin-top: 0;
    grid-row: 1/2;
    width: 68px;
    justify-self: end;
  }
}

.slide h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: $color-default-white;
  margin: 0;

  @include vp-1199 {
    width: auto;
  }

  @include vp-767 {
    line-height: 1.3;
    width: 50%;
    margin-top: 8px;
    margin-left: 3px;
  }
}

.slide p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: $color-default-white;
  margin: 0;
  width: 85%;
  height: 88px;
  overflow: hidden;

  @include vp-767 {
    grid-column: 1/-1;
    text-align: center;
    height: auto;
    width: 100%;
    overflow: visible;
  }
}
