.social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 11px;
}

.social__link {
  width: 25px;
  height: 25px;
  background-color: $color-default-white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link svg {
  flex-shrink: 0;
}

.social__link:hover svg {
  fill: $color-ghostWhite;
}

.social__link:focus svg {
  fill: $color-ghostWhite;
}

.social__link:active svg {
  fill: $color-ghostWhite;
}

.social__link:hover,
.social__link:focus,
.social__link:active {
  background-color: $color-egyptianBlue;
}
